<!-- Educacion -->
<div class="card mat-card mx-auto" id="aboutme">
    <div id="info">
        <div class="title mb-1">
           <h3>Education</h3>
        </div>
        <ul class="items-list">
         <!--   <li *ngFor="let educacion of educacionList"> -->
             <br>
        <h4>Bachelor of Information Systems</h4>
        <p class="text-muted mb-1"><strong>University of Exact Sciences UNNE</strong> MARCH 2017-Present</p>
        <!-- Cursos -->
        <div id="info">
        <div class="title mb-1">
            <h3>Courses</h3>            
        </div>

        <div class="row align-item-center">
            <div class="col">
                <div class="pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5><i class="fa-brands fa-html5"></i>HTML y CSS </h5>
                        <h5><i class="fa-brands fa-js"></i>JavaScript</h5>
                        <p class=" text-muted mb-1"><strong>Fundation Freecodecamp  </strong> <small>JANUARY 2022</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-item-center">
            <div class="col">
                <div class="pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5><i class="fa-brands fa-html5"></i>HTML y CSS </h5>
                        <h5><i class="fa-brands fa-js"></i>JavaScript</h5>                     
                        <h5><i class="fa-brands fa-angular"></i>Angular</h5>
                        <h5><i class="fa-solid fa-database"></i>MySQL</h5>
                        <h5><i class="fa-brands fa-java"></i>Java EE y Spring Boot</h5>
                        <p class=" text-muted mb-1"><strong>Bootcamp Argentina Program  </strong> <small>OCTOBER 2021 - APRIL 2022 </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- END Cursos -->
       <!-- </li>-->
    </ul>
  
  </div>
</div>
<!-- END Educacion-->




<!-- Soft Skills -->
<div class="card mat-card mx-auto">
    <div id="info">
        <div class="title mb-1">
            <h3>Soft Skills</h3>            
        </div>

        <div class="row align-item-center">
            <div class="col">
                <div class="pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">                            
                        <h5><i class="fa-solid fa-users"></i>Teamwork</h5>
                        <h5><i class="fa-solid fa-person-running"></i>Willingness to learn</h5>
                        <h5><i class="fa-solid fa-stopwatch"></i>Flexible hours</h5>
                        <h5><i class="fa-solid fa-language"></i>Speak Espanish and English</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Soft Skills -->




<!-- Proyectos -->
<div class="card mat-card mx-auto">
    <div id="info">
        <div class="title mb-1">
            <h3>Projects</h3>            
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <!-- Elemento Proyecto -->
            <div class="col">
                <div class="card">
                    <img src="https://i.ibb.co/Wk8YkSB/java-editado.jpg" class="card-img-top" alt="fondo-java">
                    <div class="card-body">
                      <h5 class="card-title justify-content-between">Project Portfolio: Argentina Programa</h5>
                      <p class="card-text">This Project was carried out as a practice for the second stage of Argentina Programa</p>
                      <a href="https://github.com/agustinmedina/miPortfolio-Angular-Bootstrap-EN" class="btn btn-secondary mb-1">Source code</a>
                    </div>
                  </div>
            </div>
            <!-- END Elemento Proyecto -->
        </div>
        
            <!-- Elemento Proyecto -->
            <div class="col">
                <div class="card">
                    <img src="https://i.ibb.co/cYm8R7C/maxresdefault1.jpg" class="card-img-top" alt="fondo-java">
                    <div class="card-body">
                      <h5 class="card-title justify-content-between">CRUD API Rest Spring Boot(Java), with MySQL</h5>
                      <p class="card-text">Rest API to create, read, modify and delete</p>
                      <a href="https://github.com/agustinmedina/API-REST-Spring-boot-AP" class="btn btn-secondary mb-1">Source code</a>
                    </div>
                  </div>
            </div>
            <!-- END Elemento Proyecto -->

            
        </div>
    </div>

<!-- END Proyectos -->

<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


