<nav class="navbar navbar-expand-md bg-dark">
    <div class="container">
      <a href="https://github.com/agustinmedina" class="navbar-brand text-white">
        <i class="fa-brands fa-github"></i>
            @agustinmedina
      </a>
      <button class="navbar-toggler" 
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!--<div class="navbar-collapse">-->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
     
      <ul class="navbar-nav ms-auto">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <i class="fa-brands fa-facebook-square"></i>
            </a>
            <a class="navbar-brand text-white" href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="navbar-brand text-white" href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
            
            
        </div>           
     </ul>
     <form class="d-flex">
        <button class="btn btn-outline-success" type="submit">Log in</button>
     </form>
    </div>
  </div>
  </nav>

<!--END Navbar -->

<!-- Profile -->
<div class="card mat-card mx-auto" id="card-about">
    <img class="card-img-top" src="https://i.ibb.co/Wk8YkSB/java-editado.jpg" alt="card-fondo">
    <div id="info">
        <div class="info-about">
            <div class="img-about mb-3">
                <img src="https://i.ibb.co/9Nv6D0f/perfil.jpg" id="img-about">                
            </div>
            
            <div class="mb-3" id="info-data">
                <div>
                    <!--INTERPOLACION BINDING-->
                    <h2>Medina Agustin</h2>
                    <div id="info-company">I am a Jr Full Stack Programmer, and</div>
                    <div id="info-contact">
                        <span>I live in Corrientes, Argentina</span>
                    </div>
                </div>
                <ul id="info-details">
                    <li>        
                        <a href="#" style="text-decoration: none;">
                            <!--PROPERTY BINDING-->
                            <img src="https://i.ibb.co/7bV6XWG/unne.jpg" alt="UNNE">
                            <h5>Universidad 
                            <br>
                            Nacional del <br> Nordeste</h5>
                        </a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
<!-- END Profile-->
